nav{
    position: fixed;
    top:0;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 10px;
    padding-top: 10px; */
    align-items: center;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
}

#logo-pc{
    width: 215px;
    margin-left: 10px;
}

.scrolled {
    opacity: 0.5; 
}

.button-container{
    display: flex;
    justify-content: center;
    transition: 1s;
}

.button-container a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    transition: 0.5s;

}

.button-container a:hover{
    color: rgb(255, 255, 255);
    text-shadow:0 0 10px;
}

.active{
    text-decoration:underline!important;
}


.invisible{
    width: 200px;
    height: 60px;
    visibility: hidden;
}

.divisor{
    transform: scale(1.5) translateY(-8%);
    margin-top: 20px;
    overflow-x: hidden;
}


footer{
    background-color: black;
    color:white;
    padding: 0;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos-footer{
    display: flex;
    align-items: center;
    align-content: center;
    padding: 10px;
}

.logos-footer img{
    width: 30px;
}

.logos-footer p{
    margin:0 0 0 10px ;
}

.footer{
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

@media (min-width:901px){
    #logo-celular{
        display: none;
    }

    #menu-button{
        display: none;
    }

    #boton-abrir-menu{
        display: none;
    }
}



@media (max-width:900px){
    body{
        scroll-snap-type: mandatory x;
    }

    .nav-celular a{
        width: 50%;
    }

    .divisor{
        margin-top: 10px;
        transform: translateY(5%) scale(2);
        overflow-x: hidden;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
    }

    nav{
        position: fixed;
        right: 0;
        height: 100%;
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        overflow-y: hidden;
        opacity: 1!important;
        z-index: 1;
    }
    #logo-celular{
        width:100%;
        padding: 10px;
        margin: auto;
    }
    .button-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 1s;
    }

    .button-container a{
        padding: 30px;

    }

    #logo-pc{
        display: none;
    }

    #menu-button{
        display: block;
        position: absolute;
        color: white;
        top: 10px;
        right: 15px;
    }
    
    .open-menu{
        transform: translateX(0%);
        transition: 1s;
    }

    .close-menu{
        transform: translateX(100%);
        transition:1s;
    }

    #boton-abrir-menu{
        display: block;
        position: absolute;
        top: 2%;
        right: 15px;
        width: 38px;
        height: 23px;
        color: white;
        margin:0;
    }

    .nav-celular{
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
    }

}
