*{
    overflow-x: hidden;
}

.carrousel{
    margin-top: 70px;
}

.ubicacion-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


h2{
    overflow: hidden;
}

iframe{
    width: 40vw;
    height:40vh;
}

.descripcion-container{
    margin-top: 30px;
    
}

@media (max-width: 1279px){
    .descripcion-container{
        text-align: center;
    }

    iframe{
        width: 50%;
        height: 50vh; 
    }

    .ubicacion-container{
        display: block;
    }
    
}

@media (max-width:900px){
    .carrousel img{
        width: 160vw;
        margin: auto;
    }

    iframe{
        width: 100%;
    }


    .carrousel{
        width: fit-content;
        height: fit-content;
        margin-top:10px;
    }
}


